@import "tailwindcss";
html {
  background-color: #f7f7f7;
}
body {
  max-width: 1100px;
  margin: auto;
  margin-top: 40px;
  background-color: white;
}
li::marker {
  color: #fb923c;
}

@theme inline {
  /* font */
  --font-sans: "Lato", sans-serif;

  /*  Custom breakpoints */
  --breakpoint-xs: 320px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  

  
}
